In [3]:
print("click arrow icon to run code in cell")

click arrow icon to run code in cell

In [2]:
print("hold shift and press enter to run code in cell")

hold shift and press enter to run code in cell

In [1]:
print("hold ctrl or command + left click mouse for multi cursor")
print("Hello Jupyter Notebook")

hold ctrl or command + left click mouse for multi cursor
Hello Jupyter Notebook

In [5]:
print(4*4)
print(4**2)

16
16

In [7]:
var = 3
print(40/var)
print(40//var)
print(40%var)
print(40-(8*var))

13.333333333333334
13
1
16

In [6]:
x, y, z = 25, 80, 9.12345
type(x)

x_float=float(x)
x_float
z_int = int(z)
z_int

9

In [8]:
True

True

In [14]:
True == 1

True

In [11]:
var = "house" ; var2 = "cinema" ; var3 = "temple"

In [12]:
"o" in var

True

In [13]:
"o" in var3

False

In [15]:
# CHAIN COMPARISON OPERATOR
24 >= 20 > 4 and 50 < 100 > 40

True

In [4]:
cat = "meow" ; dog = "woof" ; parrot = "hello"
print(cat, dog, parrot, sep = "--", end="!!")

meow--woof--hello!!

In [6]:
# concat
lang = "Python"
"This is a cool " + lang + " course!"

'This is a cool Python course!'

In [8]:
num = 100
# "lecture " + num + " is on strings" <---this will throw an error. cannot concat strings and ints. Must stringify nums
"lecture " + str(num) + " is on strings"

'lecture 100 is on strings'

In [9]:
"20" + "50"

'2050'

In [12]:
check = "a a a a B b b b c c"
check.count("a")

4

In [20]:
messy = """//PLEASE @CLEAN UP THIS MESSY @DOCSTRING 
WHICH CAN HAVE MULTIPLE LINES 
OF STRING"""
messy.replace("//", "").replace("\n", "").replace("@", "")

'PLEASE CLEAN UP THIS MESSY DOCSTRING WHICH CAN HAVE MULTIPLE LINES OF STRING'

In [41]:
robot = "technologically"

consoles = "ps4 is cooler than xbox!"

code = "p1y2t3h4o5n6i7c8"

words = "I saw a cat jump over the moon and into the clouds"

new_words = "I saw a cow fly over the gates and into the forest"

paid = "I received a total of $5000"

In [42]:
# THIS IS A SLICE
robot[0:6]

'techno'

In [43]:
# SLICE FROM A STARTPOINT TO THE END
robot[6:]

'logically'

In [44]:
consoles.find("!")

23

In [48]:
# USING THE STRIDE METHOD
code[0::2]
code[1::2]

'pythonic'

In [49]:
words

'I saw a cat jump over the moon and into the clouds'

In [52]:
# THE FORMAT METHOD
name = "Michael" ; grade = "A+"
"The student's name is {} and his grade is {}".format(name, grade)

"The student's name is Michael and his grade is A+"

In [55]:
animals = ["lions", "zebras", "elephants"]
safari = "I saw {}, {}, and {}"
safari.format(animals[0], animals[1], animals[2])
safari.format(*animals)

'I saw lions, zebras, and elephants'

In [1]:
# range will always start at 0
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
# 1st number is start, 2nd number is end, 3rd number is steps between
list(range(0, 22, 2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [6]:
num = [34, 2, 45, 22]
num

[34, 2, 45, 22]

In [10]:
type(num)
# Append will add onto the end
num.append(100)
num

[34, 2, 45, 22, 100, 100, 100, 100]

In [12]:
num.clear()
num

[]

In [16]:
# num.append([34, 2, 45, 22, 100])
num = num [0]
num

[34, 2, 45, 22, 100]

In [17]:
# Sort will sort from low to high
num.sort()
num

[2, 22, 34, 45, 100]

In [18]:
# 1st number is where to insert, 2nd is what to insert
num.insert(2, 200)
num

[2, 22, 200, 34, 45, 100]

In [19]:
# Pop removes last element unless specified
num.pop()
num

[2, 22, 200, 34, 45]

In [21]:
items = ["car", "robot", "ball"]
items
items[0] = "ps5"
items

['ps5', 'robot', 'ball']

In [24]:
items.append(num)
items

['ps5',
 'robot',
 'ball',
 [2, 22, 200, 34, 45],
 [2, 22, 200, 34, 45],
 [2, 22, 200, 34, 45]]

In [26]:
# Tuples
tup1 = 40, 50, 60, 70, 80
tup1
type(tup1)

tuple

In [29]:
myList = [10, 20, 30]
tup2 = tuple(myList)
tup2
type(tup2)

tuple

In [31]:
tup3 = tup1 +tup2
tup3

(40, 50, 60, 70, 80, 10, 20, 30)

In [34]:
tup4 = "cat", "cat", "cat", "dog", "dog", 10, 10, 10, 10, True
tup4.count("cat")
tup4.index(True)

9

In [35]:
sum(tup1)
# min and max will just show the lowest or highest value in the tuple

300

In [37]:
sorted(tup3)

[10, 20, 30, 40, 50, 60, 70, 80]

In [2]:
# Dictionaries -- will be in {}
d1 = {}
d1["A"] = 10
d1["B"] = 20
d1["C"] = 50
d1["D"] = 80
d1

{'A': 10, 'B': 20, 'C': 50, 'D': 80}

In [3]:
toys = {"robot": "25.99", "car": "45.95"}
toys

{'robot': '25.99', 'car': '45.95'}

In [4]:
# To add 2 dictionaries together, you must use the Update method
# To empty a dictionary, use the Clear method
d1.update(toys)
d1

{'A': 10, 'B': 20, 'C': 50, 'D': 80, 'robot': '25.99', 'car': '45.95'}

In [7]:
# CONVERT DICTS INTO LISTS OR TUPLES FOR INDEXING (FINDING THE KEYS OR VALUES, ETC.)
list(d1)

['A', 'B', 'C', 'D', 'robot', 'car']

In [11]:
maze = {"k1": d1, 
        "k2": [10, 20, 30],
        "k3": ("tuple!", [1, 2, {"k4": ["a", "b", "catch me!"]}])}
maze

{'k1': {'A': 10, 'B': 20, 'C': 50, 'D': 80, 'robot': '25.99', 'car': '45.95'},
 'k2': [10, 20, 30],
 'k3': ('tuple!', [1, 2, {'k4': ['a', 'b', 'catch me!']}])}

In [18]:
maze["k3"][1][2]["k4"][2]

'catch me!'

In [39]:
# EXCERCISE 1 -- DESIRED OUTPUT: 77
# HINTS--USE VALUES(), LIST, EVAL(), SLICE(), AND INT
toys = {"robot": "$40.0", "car": "$25", "ironman": "$12"}
toys.values()
list(toys.values())
(list(toys.values())[0][1:])

'40.0'