In [3]:
print("click arrow icon to run code in cell")

click arrow icon to run code in cell

In [2]:
print("hold shift and press enter to run code in cell")

hold shift and press enter to run code in cell

In [1]:
print("hold ctrl or command + left click mouse for multi cursor")
print("Hello Jupyter Notebook")

hold ctrl or command + left click mouse for multi cursor
Hello Jupyter Notebook

In [5]:
print(4*4)
print(4**2)

16
16

In [7]:
var = 3
print(40/var)
print(40//var)
print(40%var)
print(40-(8*var))

13.333333333333334
13
1
16

In [6]:
x, y, z = 25, 80, 9.12345
type(x)

x_float=float(x)
x_float
z_int = int(z)
z_int

9

In [8]:
True

True

In [14]:
True == 1

True

In [11]:
var = "house" ; var2 = "cinema" ; var3 = "temple"

In [12]:
"o" in var

True

In [13]:
"o" in var3

False

In [15]:
# CHAIN COMPARISON OPERATOR
24 >= 20 > 4 and 50 < 100 > 40

True

In [4]:
cat = "meow" ; dog = "woof" ; parrot = "hello"
print(cat, dog, parrot, sep = "--", end="!!")

meow--woof--hello!!

In [6]:
# concat
lang = "Python"
"This is a cool " + lang + " course!"

'This is a cool Python course!'

In [8]:
num = 100
# "lecture " + num + " is on strings" <---this will throw an error. cannot concat strings and ints. Must stringify nums
"lecture " + str(num) + " is on strings"

'lecture 100 is on strings'

In [9]:
"20" + "50"

'2050'

In [12]:
check = "a a a a B b b b c c"
check.count("a")

4

In [20]:
messy = """//PLEASE @CLEAN UP THIS MESSY @DOCSTRING 
WHICH CAN HAVE MULTIPLE LINES 
OF STRING"""
messy.replace("//", "").replace("\n", "").replace("@", "")

'PLEASE CLEAN UP THIS MESSY DOCSTRING WHICH CAN HAVE MULTIPLE LINES OF STRING'

In [ ]:
robot = "technology"

consoles = "ps4 is coller than xbox"

code = "p1y2t3h4o5n6i7c8"

words = "I saw a cat jump over the moon and into the clouds"

new_words = "I saw a cow fly over the gates and into the forest"

paid = "I received a total of $5000"